<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zoom</title>

    <!-- Icon  -->
    <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/3773/3773726.png">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="style.css">

    <!-- Bootstrap  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <!-- Socket.io for frontend -->
    <script src="/socket.io/socket.io.js"></script>

    <!-- Peerjs for frontend -->
    <script src="https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js"></script>

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/03618284a1.js" crossorigin="anonymous"></script>

    <!-- bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

    <!-- JQuery -->
    <script src="jquery-3.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>
        const ROOM_ID = "<%= roomId %>"; // ID of the room
    </script>

</head>

<body>

    <div class="main">

        <div class="main_left">

            <div class="main_videos">

                <div id="video-grid">
                    <!-- The video will be in this div -->
                </div>

            </div>

            <div class="main_controls">

                <div class="main_controls_block">

                    <div onclick="muteUnmute()" class="main_controls_button main_mute_button">
                        <i class="fa-solid fa-microphone"></i>
                        <span>Mute</span>
                    </div>

                    <div onclick="playStop()" class="main_controls_button main_video_button">
                        <i class="fa-solid fa-video"></i>
                        <span>Stop Video</span>
                    </div>

                </div>

                <div class="main_controls_block">

                    <div class="main_controls_button">
                        <i class="fa-solid fa-shield-halved"></i>
                        <span>Security</span>
                    </div>

                    <div class="main_controls_button">
                        <i class="fa-solid fa-user-group"></i>
                        <span>Participants</span>
                    </div>

                    <div class="main_controls_button">
                        <i class="fa-solid fa-message"></i>
                        <span>Chat</span>
                    </div>

                </div>

                <div class="main_controls block">

                    <div class="main_controls_button">
                        <span class="leave_meeting">
                            Leave Meeting
                        </span>
                    </div>

                </div>

            </div>

        </div>

        <div class="main_right">

            <div class="main_header">
                <h6>Chat</h6>
            </div>

            <div class="main_chat_window">
                <ul class="messages">
                    <!-- Chat messages will appear here -->
                </ul>
            </div>

            <div class="main_message_container">
                <input id="chat_message" type="text" placeholder="Type message here...">
            </div>

        </div>

    </div>

    <!-- Browser JS -->
    <script src="script.js"></script>
</body>
</html>